APP_SECRET_KEY=OmpJKwnFiOZDP3o6aCaHpqurceHvLduDw3UoSDgghCw
APP_DEBUG=True

#postgre configuration

DB_USERNAME=Ramakrishna
DB_PASSWORD=Ramakrishna1995
DB_DATABASE=fastapidb
DB_HOST=fastapi-postgresql-db.ct2aws8y03ww.ap-south-1.rds.amazonaws.com
DB_PORT=5432



#Redis configuration

REDIS_HOST=clustercfg.redis-cluster-fastapi.zejbl1.aps1.cache.amazonaws.com
REDIS_PORT=6379
REDIS_AUTH=RamakrishnaAnjali1995
REDIS_DATABASE=0
REDIS_TLS=True

